<div class="intro">
  <div class="header">
    <h1>Administração</h1>
  </div>

  <a href="/metricas" class="btn btn-primary btn-block">Administrar Métricas</a>
  <a href="/relatorio" class="btn btn-primary btn-block">Ver relatório</a>

</div>