<h2>1. Caracterização</h2>
<div class="form-group">
  <label for="nome" class="control-label">Nome (obrigatório)</label>
  <input type="text" class="form-control" id="nome" placeholder="Seu nome" required name="nome">
</div>
<div class="form-group">
  <label for="email" class="control-label">Email (obrigatório)</label>
  <input type="email" class="form-control" id="email" placeholder="Seu email" required name="email">
</div>
<div class="form-group">
  <label >Papéis já assumidos em projetos de software</label>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="Testador" name="papeis[]">
      Testador
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="Desenvolvedor" name="papeis[]">
      Desenvolvedor
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="Analista de teste" name="papeis[]">
      Analista de teste
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="Gerente de teste" name="papeis[]">
      Gerente de teste
    </label>
  </div>

  <label for="outros-papeis">Outros (especifique)</label>
  <input type="text" class="form-control" id="outros-papaies" placeholder="Outros papéis assumidos" name="outros_papeis">
</div>

<div class="form-group">
  <label for="formacao">Formação</label>
  <select name="formacao" id="formacao" class="form-control" name="formacao">
    <option selected="selected"></option>
    <option value="Superior incompleto">Superior incompleto</option>
    <option value="Superior Completo">Superior Completo</option>
    <option value="Especialização">Especialização</option>
    <option value="Mestrado">Mestrado</option>
    <option value="Doutorado">Doutorado</option>
    <option value="Pós Doutorado">Pós Doutorado</option>
  </select>
</div>

<div class="form-group">
  <label for="qtd_projetos">Quantos projetos de software você participa ou participou atuando na área de teste?</label>
  <select name="qtd_projetos" id="qtd_projetos" class="form-control">
    <option selected="selected"></option>
    <option value="0">0</option>
    <option value="1 a 2">1 a 2</option>
    <option value="3 a 5">3 a 5</option>
    <option value="6 a 10">6 a 10</option>
    <option value="11 a 20">11 a 20</option>
    <option value="mais de 20">mais de 20</option>
  </select>
</div>

<div class="form-group">
  <label for="avaliacao_conhecimento">Como você avalia seu conhecimento em teste de software?</label>
  <select name="avaliacao_conhecimento" id="avaliacao_conhecimento" class="form-control">
    <option selected="selected"></option>
    <option value="Baixo">Baixo</option>
    <option value="Médio">Médio</option>
    <option value="Alto">Alto</option>
  </select>
</div>

<div class="form-group">
  <label>Possui certificação em Teste de Software?</label>              

  <div class="checkbox">
    <strong class="certificacao-label">ISTQB</strong>
    <label class="checkbox-inline"><input type="checkbox" value="CTFL" name="certificacoes[]">CTFL</label>              
    <label class="checkbox-inline"><input type="checkbox" value="CTAL-TA" name="certificacoes[]">CTAL-TA</label>                            
    <label class="checkbox-inline"><input type="checkbox" value="CTAL-TM" name="certificacoes[]">CTAL-TM</label>                            
    <label class="checkbox-inline"><input type="checkbox" value="CTAL-TTA" name="certificacoes[]">CTAL-TTA</label>              
  </div>

  <div class="checkbox">  
    <strong class="certificacao-label">QAI</strong>
    <label class="checkbox-inline"><input type="checkbox" value="CAST" name="certificacoes[]">CAST</label>                                
    <label class="checkbox-inline"><input type="checkbox" value="CSTE" name="certificacoes[]">CSTE</label>                                
    <label class="checkbox-inline"><input type="checkbox" value="CSQA" name="certificacoes[]">CSQA</label>                                
    <label class="checkbox-inline"><input type="checkbox" value="CSPM" name="certificacoes[]">CSPM</label>                
  </div>

  <div class="checkbox">
    <strong class="certificacao-label">ALATS</strong>
    <label class="checkbox-inline"><input type="checkbox" value="CBTS" name="certificacoes[]">CBTS</label>
  </div>  

  <label for="outros-papeis">Outras (especifique)</label>
  <input type="text" class="form-control" id="outras-certificacoes" placeholder="Outras certificações" name="outras_certificacoes">
</div>

<div class="form-group">
  <label >Modelos de maturidade em que possui conhecimento</label>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="CMMI" name="modelos_maturidade[]">
      CMMI
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="MPS.Br" name="modelos_maturidade[]">
      MPS.Br
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="TMM" name="modelos_maturidade[]">
      TMM
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="TMMI" name="modelos_maturidade[]">
      TMMI
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="TPI" name="modelos_maturidade[]">
      TPI
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="MPT.Br" name="modelos_maturidade[]">
      MPT.Br
    </label>
  </div>              
  <label for="outros-papeis">Outros (especifique)</label>
  <input type="text" class="form-control" id="outros-modelos_maturidade" placeholder="Outros modelos de maturidade" name="outros_modelos_maturidade">
</div>            

<div class="form-group">
  <label for="conhecimento_ageis">Nível de conhecimento em Métodos Agéis</label>
  <select name="conhecimento_ageis" id="conhecimento_ageis" class="form-control">
    <option selected="selected"></option>
    <option>Nunca ouviu falar</option>
    <option>Já leu a respeito</option>
    <option>Estudou em sala de aula</option>
    <option>Utilizou em projeto no trabalho</option>
    <option>Usou em vários projetos</option>
  </select>
</div>

<div class="form-group">
  <label for="experiencia_ageis">Nível de experiência em Métodos Agéis</label>
  <select name="experiencia_ageis" id="experiencia_ageis" class="form-control">
    <option selected="selected"></option>
    <option>Não possui experiência</option>
    <option>Menos de 6 meses</option>
    <option>6 meses a 1 ano</option>
    <option>Entre 1 ano e 2 anos</option>
    <option>Entre 2 anos e 5 anos</option>
    <option>Mais de 5 anos</option>
  </select>
</div>

<div class="form-group">
  <label for="exposicao_ageis">Nível de exposição ao Desenvolvimento Ágil</label>
  <select name="exposicao_ageis" id="exposicao_ageis" class="form-control">
    <option selected="selected"></option>
    <option>Nenhum</option>
    <option>Atua como membro de uma equipe</option>
    <option>Lidera uma equipe</option>
    <option>Coach ou consultor</option>
    <option>Ouviu falar mas não profundamente</option>
  </select>
</div>

<div class="form-group">
  <label>Em quais métodos ágeis você possui conhecimento?</label>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="SCRUM" name="metodos_ageis[]">
      SCRUM
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="Extreme Programming-XP" name="metodos_ageis[]">
      Extreme Programming-XP
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="Lean Development" name="metodos_ageis[]">
      Lean Development
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="Feature Driven Development-DSDM" name="metodos_ageis[]">
      Feature Driven Development-DSDM
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="Adaptive Software Development-ASD" name="metodos_ageis[]">
      Adaptive Software Development-ASD
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="Crystal" name="metodos_ageis[]">
      Crystal
    </label>
  </div>     
  <div class="checkbox">
    <label>
      <input type="checkbox" value="Pragmatic Programming" name="metodos_ageis[]">
      Pragmatic Programming
    </label>
  </div>     
  <div class="checkbox">
    <label>
      <input type="checkbox" value="Test Driven Development" name="metodos_ageis[]">
      Test Driven Development
    </label>
  </div>     
  <label for="outros-papeis">Outros (especifique)</label>
  <input type="text" class="form-control" id="outros-metodos_ageis" placeholder="Outros métodos ágeis" name="outros_metodos_ageis">
</div>       

<div class="form-group">
  <label for="conhecimento_norma">Você conhece alguma norma que define métrica de software?</label>
  <select name="conhecimento_norma" id="conhecimento_norma" class="form-control">
    <option selected="selected"></option>
    <option>Sim</option>
    <option>Não</option>
  </select>
</div>

<div class="form-group">
  <label for="quais_metricas">Quais normas? (especifique)</label>
  <input type="text" class="form-control" id="quais_normas" placeholder="Especifique as normas" name="quais_normas">
</div>        

<div class="form-group">
  <label for="comentario_ageis">Comente sobre sua experiência com métricas aplicadas ao contexto de métodos ágeis</label>
  <textarea class="form-control" name="comentario_ageis"></textarea>
</div>

<div class="form-group">
  <label for="comentario_teste">Comente sobre sua experiência com métricas aplicadas ao processo de teste de software</label>
  <textarea class="form-control" name="comentario_teste"></textarea>
</div>

<div class="form-group">
  <button class="btn btn-primary btn-lg btn-block" id="next-step-1" type="button">Próximo passo</button>
</div>