<section class="container">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      
      <div class="intro">
        <div class="header">
          <h1>Questionário de levantamento de aspectos relevantes e métricas de qualidade para testes ágeis</h1>
          <p>Thaynã Gonçalves Mota (Mestranda)</p>
          <p>Prof. Arilo Claudio Dias Neto (Orientador)</p>
          <p>Instituto de Computação – UFAM</p>
        </div>

        <div class="message">
          <p>Seu questionário foi enviado. Obrigado!</p>
        </div>
      </div>

    </div>
  </div>

</section>